﻿@{
Layout = null;
}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="~/HomeStyle/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/HomeStyle/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/HomeStyle/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/HomeStyle/css/price-range.css" rel="stylesheet">
    <link href="~/HomeStyle/css/animate.css" rel="stylesheet">
	<link href="~/HomeStyle/css/main.css" rel="stylesheet">
	<link href="~/HomeStyle/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/HomeStyle/js/html5shiv.js"></script>
    <script src="~/HomeStyle/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="~/HomeStyle/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/HomeStyle/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/HomeStyle/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/HomeStyle/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/HomeStyle/images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="stylesheet" href="~/HomeStyle/css/styles.css"/>
         <script src="~/HomeStyle/js/store.js"></script>
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
             <section class="container content-section" style=" display: none;position: fixed;
z-index: 999;
background: rgb(225, 199, 149) none repeat scroll 0% 0%;
left: 302px;
top: 0px;
border-radius: 86px 106px;
width: 777px;  opacity: .8 ">
            <h2 class="section-header" style="background: #fe980f;
border-radius: 15px 15px;
width: 211px;
margin-left: 305px;
margin-right: 29px;
position: relative;

 
padding: 11px;
color: white;">سلة المشتريات</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">اسم المنتج</span>
                <span class="cart-price cart-header cart-column">السعر</span>
                <span class="cart-quantity cart-header cart-column">الكمية</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">اجمالي المبلغ : </strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">تقديم طلب للشراء</button>
             
        </section>
        
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-md-4 clearfix">
						<div class="logo pull-left">
							<a href="~/HomeStyle/index.html"><img src="~/HomeStyle/images/home/logo.png" alt="" /></a>
						</div>
						<div class="btn-group pull-right clearfix">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									USA
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="">Canada</a></li>
									<li><a href="">UK</a></li>
								</ul>
							</div>
							
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									DOLLAR
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="">Canadian Dollar</a></li>
									<li><a href="">Pound</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-8 clearfix">
						<div class="shop-menu clearfix pull-right">
							<ul class="nav navbar-nav">
								<li><a href=""><i class="fa fa-user"></i> حسابي</a></li>
								<li><a href=""><i class="fa fa-star"></i> المفضلة</a></li>
								<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> تسجيل خروج</a></li>
								<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> سلة المشتريات</a></li>
								<li><a href="login.html"><i class="fa fa-lock"></i> تسجيل دخول</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="index.html" class="active">الرئيسية</a></li>
								<li class="dropdown"><a href="#">تسوق<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">المنتجات</a></li>
										<li><a href="product-details.html">  تفاصيل المنتجات</a></li> 
										<li><a href="checkout.html">تسجيل خروج</a></li> 
										<li><a href="cart.html">سلة التسوق</a></li> 
										<li><a href="login.html">تسج</a></li> 
                                    </ul>
                                </li> 
								 
								<li><a href="404.html">404</a></li>
								<li><a href="contact-us.html">تواصل معنا !</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
<div style="margin-bottom: 130px;margin-top: 120px;">
  @RenderBody()
</div>
  
	
	 
	
	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>e</span>-shopper</h2>
							<p>كن أحد زبائننا المفضلين</p>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="~/HomeStyle/images/home/iframe1.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>محمد موسى   </p>
								<h2>24 ديسمبر 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="~/HomeStyle/images/home/iframe2.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p> ريان مصطفى     </p>
								<h2>24 سيبتمبر 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="~/HomeStyle/images/home/iframe3.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>   نهى الصديق علي  </p>
								<h2>24 اكتوبر 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="~/HomeStyle/images/home/iframe4.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>سارة عزالدين </p>
								<h2>24نوفمبر   2014</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="~/HomeStyle/images/home/map.png" alt="" />
							<p>تمتد قائمة زبائننا الكرام الى الشرق الاوسط</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>الخدمات</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">مساعدة مباشرة  </a></li>
								<li><a href="#">  التواصل معنا</a></li>
								<li><a href="#">  حالات العروض</a></li>
								<li><a href="#">تعرف على موقعنا  </a></li>
							 
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>تسوق سريع  </h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">الاقمصة </a></li>
								<li><a href="#">رجالي</a></li>
								<li><a href="#">نسائي</a></li>
								 
								<li><a href="#">أحذية</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>السياسات</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">تعليمات الاستخدام    </a></li>
								<li><a href="#">السياسات والخصوصية  </a></li>
								<li><a href="#">سياسة الاسترجاع  </a></li>
								<li><a href="#">نظام الفواتير  </a></li>
								 
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>حول التسوق  </h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">  معلومات عن محلاتنا التجارية</a></li>
								 
								<li><a href="#">  موقع محلنا التجاري</a></li>
								<li><a href="#">محلات تابعة لنا  </a></li>
								<li><a href="#">حقوق النشر</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>عن التسوق  </h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>احصل على احدث الملبوسات والاحذية <br /> فقط عن طريق التسوق داخل موقعنا...</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">حقوق النشر © 2020 E-SHOPPER Inc. جميعها محفوظة.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	

  
    <script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/HomeStyle/js/jquery.scrollUp.min.js"></script>
	<script src="~/HomeStyle/js/price-range.js"></script>
    <script src="~/HomeStyle/js/jquery.prettyPhoto.js"></script>
    <script src="~/HomeStyle/js/main.js"></script>

   
</body>
</html>