﻿@model Test.Models.Bill

<!DOCTYPE html>
<html lang="en">
<head>
	<title> فاتورة بيع جديدة  </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/BillStyle/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/BillStyle/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/BillStyle/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/BillStyle/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/BillStyle/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/BillStyle/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/BillStyle/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/BillStyle/css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="bg-contact100" style="background-image: url('images/bg-01.jpg');">
		<div class="container-contact100">
			<div class="wrap-contact100">
				<div class="contact100-pic js-tilt" data-tilt>
					<img src="~/BillStyle/images/Billicon.png" alt="IMG">
				</div>

				<form class="contact100-form validate-form">
					<span class="contact100-form-title">
						فاتورة بيع
					</span>

				 
						<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<select  class="select" asp-items="ViewBag.UserId" asp-for="ApplicationUserId"></select>
                        						
							<span class="focus-input100"></span>
                    						<span class="symbol-input100">
                    						 
                    						</span>
                    					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="number" asp-for="Quantity" placeholder="كمية المنتج">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						</span>
					</div>
 
 		<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
 						<input class="input100" type="number" asp-for="Quantity" placeholder="الخصم" value="0">
 						<span class="focus-input100"></span>
 						<span class="symbol-input100">
 							<i class="fa fa-shopping-basket" aria-hidden="true"></i>
 						</span>
 					</div>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" asp-for="BillDay" placeholder="اليوم">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa-calendar" aria-hidden="true"></i>
						</span>
					</div>
						 
					<div class="container-contact100-form-btn">
						<input type="submit" class="contact100-form-btn" value="اتمام العملية"/>
						 
					</div>
				</form>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="~/BillStyle/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="~/BillStyle/vendor/bootstrap/js/popper.js"></script>
	<script src="~/BillStyle/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="~/BillStyle/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="~/BillStyle/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="~/BillStyle/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
