﻿@{
Layout = null;
}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="~/HomeStyle/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/HomeStyle/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/HomeStyle/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/HomeStyle/css/price-range.css" rel="stylesheet">
    <link href="~/HomeStyle/css/animate.css" rel="stylesheet">
	<link href="~/HomeStyle/css/main.css" rel="stylesheet">
	<link href="~/HomeStyle/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/HomeStyle/js/html5shiv.js"></script>
    <script src="~/HomeStyle/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="~/HomeStyle/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/HomeStyle/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/HomeStyle/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/HomeStyle/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/HomeStyle/images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="stylesheet" href="~/HomeStyle/css/styles.css"/>
    <script src="~/HomeStyle/js/store.js"></script>
   
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
             <section class="container content-section" style=" position: fixed;
z-index: 999;
background: rgb(225, 199, 149) none repeat scroll 0% 0%;
left: 302px;
top: 0px;
border-radius: 86px 106px;
width: 777px;  opacity: .8 ">
            <h2 class="section-header" style="background: #fe980f;
border-radius: 15px 15px;
width: 211px;
margin-left: 305px;
margin-right: 29px;
position: relative;

 
padding: 11px;
color: white;">سلة المشتريات</h2>
<button class="zidge"> show quantity</button>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">اسم المنتج</span>
                <span class="cart-price cart-header cart-column">السعر</span>
                <span class="cart-quantity cart-header cart-column">الكمية</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">اجمالي المبلغ : </strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">تقديم طلب للشراء</button>
             
        </section>
        
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-md-4 clearfix">
						<div class="logo pull-left">
							<a href="~/HomeStyle/index.html"><img src="~/HomeStyle/images/home/logo.png" alt="" /></a>
						</div>
						<div class="btn-group pull-right clearfix">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									USA
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="">Canada</a></li>
									<li><a href="">UK</a></li>
								</ul>
							</div>
							
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									DOLLAR
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="">Canadian Dollar</a></li>
									<li><a href="">Pound</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-8 clearfix">
						<div class="shop-menu clearfix pull-right">
							<ul class="nav navbar-nav">
								<li><a href=""><i class="fa fa-user"></i> حسابي</a></li>
								<li><a href=""><i class="fa fa-star"></i> المفضلة</a></li>
								<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> تسجيل خروج</a></li>
								<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> سلة المشتريات</a></li>
								<li><a href="login.html"><i class="fa fa-lock"></i> تسجيل دخول</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="index.html" class="active">الرئيسية</a></li>
								<li class="dropdown"><a href="#">تسوق<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">المنتجات</a></li>
										<li><a href="product-details.html">  تفاصيل المنتجات</a></li> 
										<li><a href="checkout.html">تسجيل خروج</a></li> 
										<li><a href="cart.html">سلة التسوق</a></li> 
										<li><a href="login.html">تسج</a></li> 
                                    </ul>
                                </li> 
								 
								<li><a href="404.html">404</a></li>
								<li><a href="contact-us.html">تواصل معنا !</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>أ</span>-تسوق المنتجات</h1>
									<h2>تسوق منتجات منهل ..</h2>
									<p> كل ماتحتاجه من مستلزمات نسائية  أطفالية  رجالي . </p>
									<button type="button" class="btn btn-default get">إشتري الآن </button>
								</div>
								<div class="col-sm-6">
									<img src="~/HomeStyle/images/home/girl1.jpg" class="girl img-responsive" alt="" />
									<img src="~/HomeStyle/images/home/pricing.png"  class="pricing" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>-</span>-متعة التسوق معنا !</h1>
									<h2>أطلب منتجك بنفسك !</h2>
									<p>يمكنك مراسلة بريد الصفحة لطلب منتج بتفاصيل تناسبك . </p>
									<button type="button" class="btn btn-default get">اشتري منتجك الآن !  </button>
								</div>
								<div class="col-sm-6">
									<img src="~/HomeStyle/images/home/girl2.jpg" class="girl img-responsive" alt="" />
									<img src="~/HomeStyle/images/home/pricing.png"  class="pricing" alt="" />
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>_</span>-تحقق من عروضنا</h1>
									<h2>     عروض المنتجات</h2>
									<p> يستمردعمنا لكم بتقديم عروض خاصة لكم تصل خصوماتها الى %50 </p>
									<button type="button" class="btn btn-default get">تحقق الآن !    </button>
								</div>
								<div class="col-sm-6">
									<img src="~/HomeStyle/images/home/girl3.jpg" class="girl img-responsive" alt="" />
									<img src="~/HomeStyle/images/home/pricing.png" class="pricing" alt="" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											ملبوسات رياضية
										</a>
									</h4>
								</div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">نايك </a></li>
											<li><a href="#">اندر اورمر   </a></li>
											<li><a href="#">اديداز </a></li>
											<li><a href="#">بوما</a></li>
											<li><a href="#">اسيز </a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#mens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											رجالي
										</a>
									</h4>
								</div>
								<div id="mens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">جلابية</a></li>
											<li><a href="#">جاكت</a></li>
											<li><a href="#">فنايل</a></li>
											<li><a href="#">اقمصة</a></li>
											<li><a href="#">بنطال</a></li>
											<li><a href="#">داخلي</a></li>
											<li><a href="#">شال</a></li>
											<li><a href="#"> جاكت شتوي    </a></li>
										 
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#womens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											للنساء
										</a>
									</h4>
								</div>
								<div id="womens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">ثياب</a></li>
											<li><a href="#">عباءات</a></li>
											<li><a href="#">قمصان</a></li>
											<li><a href="#">داخلي</a></li>
											<li><a href="#">رداء حجاب</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">اطفال</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">الموضة</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								 
							</div>
							<div class="panel panel-default">
								 
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">جميع انواع الملابس</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">حقائب</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">احذية</a></h4>
								</div>
							</div>
						</div><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>العلامات التجارية</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
									<li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
									<li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
									<li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
									<li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
									<li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
									<li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<h2>نطاق السعر  </h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->

						<div class="shipping text-center"><!--shipping-->
							<img src="~/HomeStyle/images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										      	<div class="productinfo text-center ">
                           <div class="img-box">
				 <img src="~/HomeStyle/images/home/product1.jpg" alt="" class="shop-item-image" />
                           </div>
					 	<p  class="shop-item-title ">Easy Polo Black Edition</p>					 
                <h2 class="shop-item-price price">$56</h2>

						 	<button href="#" class="btn btn-default add-to-cart shop-item-button">  ضافة لسلة  المشتريات </button>
						 	</div>
									 <div class="product-overlay">
                                        
											<div class="overlay-content">
                                                   <div class="img-box">
				               <img src="~/HomeStyle/images/home/product1.jpg" alt="" class="shop-item-image"style="display: none" />
                           </div>
												<h2 class="shop-item-price price">$56</h2>
												<p  class="shop-item-title ">Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart  shop-item-button"> Add to cart</a>
                                         </div>								
</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
                            
                            <!------------//////////////////////////----------->
            
                            <!---------///////////////////////-------->
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										      	<div class="productinfo text-center ">
                           <div class="img-box">
				 <img src="~/HomeStyle/images/home/product1.jpg" alt="" class="shop-item-image" />
                           </div>
					 	<p  class="shop-item-title ">المنتج الاول</p>					 
                <h2 class="shop-item-price price">$56</h2>

						 	<button href="#" class="btn btn-default add-to-cart shop-item-button">  ضافة لسلة  المشتريات </button>
						 	</div>
									 <div class="product-overlay">
                                        
											<div class="overlay-content">
                                                   <div class="img-box">
				               <img src="~/HomeStyle/images/home/product1.jpg" alt="" class="shop-item-image"style="display: none" />
                           </div>
												<h2 class="shop-item-price price">$56</h2>
												<p  class="shop-item-title ">المنتج الثاني</p>
												<a href="#" class="btn btn-default add-to-cart  shop-item-button"> Add to cart</a>
                                         </div>								
</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
                            
                            <!------------//////////////////////////----------->
            
                            <!---------///////////////////////-------->
						</div>
                        <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										      	<div class="productinfo text-center ">
                           <div class="img-box">
				 <img src="~/HomeStyle/images/home/product1.jpg" alt="" class="shop-item-image" />
                           </div>
					 	<p  class="shop-item-title ">المنتج الرابع</p>					 
                <h2 class="shop-item-price price">$56</h2>

						 	<button href="#" class="btn btn-default add-to-cart shop-item-button">  ضافة لسلة  المشتريات </button>
						 	</div>
									 <div class="product-overlay">
                                        
											<div class="overlay-content">
                                                   <div class="img-box">
				               <img src="~/HomeStyle/images/home/product1.jpg" alt="" class="shop-item-image"style="display: none" />
                           </div>
												<h2 class="shop-item-price price">$56</h2>
												<p  class="shop-item-title ">Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart  shop-item-button"> Add to cart</a>
                                         </div>								
</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
                            
                            <!------------//////////////////////////----------->
            
                            <!---------///////////////////////-------->
						</div>
                        
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">                                        
                                        <div class="img-box">
				               <img src="~/HomeStyle/images/home/product4.jpg" alt="" class="shop-item-image" />
                           </div>
										<h2>$56</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
                                                                     <div class="img-box">
				               <img src="~/HomeStyle/images/home/product4.jpg" alt="" class="shop-item-image"style="display: none" />
                           </div>
										
											<h2 class="shop-item-price price">$56</h2>
											<p class="shop-item-title">Easy Polo Black Edition</p>
											<a href="#" class="btn btn-default add-to-cart   shop-item-button"><i class="fa fa-shopping-cart  shop-item-button"></i>Add to cart</a>
										</div>
									</div>
									<img src="~/HomeStyle/images/home/new.png" class="new" alt="" />
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div> 
                           
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">                                        
                                        <div class="img-box">
				               <img src="~/HomeStyle/images/home/product5.jpg" alt="" class="shop-item-image" />
                           </div>
										<h2>$56</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
                                                                     <div class="img-box">
				               <img src="~/HomeStyle/images/home/product5.jpg" alt="" class="shop-item-image"style="display: none" />
                           </div>
										
											<h2 class="shop-item-price price">$56</h2>
											<p class="shop-item-title">Easy Polo Black Edition</p>
											<a href="#" class="btn btn-default add-to-cart   shop-item-button"><i class="fa fa-shopping-cart  shop-item-button"></i>Add to cart</a>
										</div>
									</div>
									<img src="~/HomeStyle/images/home/new.png" class="new" alt="" />
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
                           
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">                                        
                                        <div class="img-box">
				               <img src="~/HomeStyle/images/home/product6.jpg" alt="" class="shop-item-image" />
                           </div>
										<h2>$56</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
                                                                     <div class="img-box">
				               <img src="~/HomeStyle/images/home/product6.jpg" alt="" class="shop-item-image"style="display: none" />
                           </div>
										
											<h2 class="shop-item-price price">$56</h2>
											<p class="shop-item-title">Easy Polo Black Edition</p>
											<a href="#" class="btn btn-default add-to-cart   shop-item-button"><i class="fa fa-shopping-cart  shop-item-button"></i>Add to cart</a>
										</div>
									</div>
									<img src="~/HomeStyle/images/home/new.png" class="new" alt="" />
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div><!--features_items-->
					
					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tshirt" data-toggle="tab">T-Shirt</a></li>
								<li><a href="#blazers" data-toggle="tab">Blazers</a></li>
								<li><a href="#sunglass" data-toggle="tab">Sunglass</a></li>
								<li><a href="#kids" data-toggle="tab">Kids</a></li>
								<li><a href="#poloshirt" data-toggle="tab">Polo shirt</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="tshirt" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery1.jpg" alt="" />
												<h2 class="shop-item-price price">$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart shop-item-button"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p class="shop-item-title">Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="blazers" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="sunglass" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="kids" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="poloshirt" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="~/HomeStyle/images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="~/HomeStyle/images/home/recommend1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="~/HomeStyle/images/home/recommend2.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="~/HomeStyle/images/home/recommend3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
								</div>
								<div class="item">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="~/HomeStyle/images/home/recommend1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="~/HomeStyle/images/home/recommend2.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="~/HomeStyle/images/home/recommend3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>e</span>-shopper</h2>
							<p>كن أحد زبائننا المفضلين</p>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="~/HomeStyle/images/home/iframe1.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>محمد موسى   </p>
								<h2>24 ديسمبر 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="~/HomeStyle/images/home/iframe2.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p> ريان مصطفى     </p>
								<h2>24 سيبتمبر 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="~/HomeStyle/images/home/iframe3.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>   نهى الصديق علي  </p>
								<h2>24 اكتوبر 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="~/HomeStyle/images/home/iframe4.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>سارة عزالدين </p>
								<h2>24نوفمبر   2014</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="~/HomeStyle/images/home/map.png" alt="" />
							<p>تمتد قائمة زبائننا الكرام الى الشرق الاوسط</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>الخدمات</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">مساعدة مباشرة  </a></li>
								<li><a href="#">  التواصل معنا</a></li>
								<li><a href="#">  حالات العروض</a></li>
								<li><a href="#">تعرف على موقعنا  </a></li>
							 
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>تسوق سريع  </h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">الاقمصة </a></li>
								<li><a href="#">رجالي</a></li>
								<li><a href="#">نسائي</a></li>
								 
								<li><a href="#">أحذية</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>السياسات</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">تعليمات الاستخدام    </a></li>
								<li><a href="#">السياسات والخصوصية  </a></li>
								<li><a href="#">سياسة الاسترجاع  </a></li>
								<li><a href="#">نظام الفواتير  </a></li>
								 
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>حول التسوق  </h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">  معلومات عن محلاتنا التجارية</a></li>
								 
								<li><a href="#">  موقع محلنا التجاري</a></li>
								<li><a href="#">محلات تابعة لنا  </a></li>
								<li><a href="#">حقوق النشر</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>عن التسوق  </h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>احصل على احدث الملبوسات والاحذية <br /> فقط عن طريق التسوق داخل موقعنا...</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">حقوق النشر © 2020 E-SHOPPER Inc. جميعها محفوظة.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	

  
    <script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/HomeStyle/js/jquery.scrollUp.min.js"></script>
	<script src="~/HomeStyle/js/price-range.js"></script>
    <script src="~/HomeStyle/js/jquery.prettyPhoto.js"></script>
    <script src="~/HomeStyle/js/main.js"></script>

   
</body>
</html>