﻿@model Test.Models.Category
 
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V11</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	 
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
  
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form class="login100-form validate-form" asp-action="Create"  enctype="multipart/form-data">
					<span class="login100-form-title p-b-55">
					اضافة قسم جديد للمنتجات
					</span>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text"   placeholder="قسم المنتج" asp-for="CategoryName">
						<span class="focus-input100"></span>
						<span class="symbol-input100"> 
						</span>
					</div>
<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
        	<input  type="file"   asp-for="CategoryImage" name="Image"  >
             	<span class="focus-input100"></span>
            <span class="symbol-input100"> 
                         	</span>
                  	</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<input class="input100" type="text"   placeholder="تفاصيل عن قسم المنتج" asp-for="CategoryDetails">
						<span class="focus-input100"></span>
						<span class="symbol-input100"> 
						</span>
					</div>
					<div class="container-login100-form-btn p-t-25">
						<input type="submit" class="login100-form-btn" value="انشاء"/>
							
						 
					</div>

					 
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
@*	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>*@

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!--===============================================================================================-->
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
 
<!--===============================================================================================-->
 
<!--===============================================================================================-->
 

</body>
</html>