﻿ @model IEnumerable<Test.Models.Booking>
 <!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Chamb - Responsive E-commerce HTML5 Template</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="~/DetailsStyle/css/font-awesome.min.css">
      <!--bootstrap css-->
      <link rel="stylesheet" href="~/DetailsStyle/css/bootstrap.min.css">
      <!--animate css-->
      <link rel="stylesheet" href="~/DetailsStyle/css/animate-wow.css">
      <!--main css-->
      <link rel="stylesheet" href="~/DetailsStyle/css/style.css">
      <link rel="stylesheet" href="~/DetailsStyle/css/bootstrap-select.min.css">
      <link rel="stylesheet" href="~/DetailsStyle/css/slick.min.css">
      <!--responsive css-->
      <link rel="stylesheet" href="~/DetailsStyle/css/responsive.css">
   </head>
   <body>
      <a asp-action="Create" class="btn btn-success"> اضافة قسم خاص للمنتجات</a>
   
       <footer>
         <div class="main-footer">
            <div class="container">
               <div class="row">
                  <div class="footer-top clearfix">
                     <div class="col-md-2 col-sm-6">
                        <h2>Start a free
                           account today
                        </h2>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="form-box">
                           <input type="text" placeholder="Enter yopur e-mail" />
                           <button>Continue</button>
                        </div>
                     </div>
                    
                  </div>
                 
            </div>
         </div>
          </div>
      </footer>
      <!-- Modal -->
      
      <div id="sidebar" class="top-nav">
         <ul id="sidebar-nav" class="sidebar-nav">
            <li><a href="#">Help</a></li>
            <li><a href="howitworks.html">How it works</a></li>
            <li><a href="#">chamb for Business</a></li>
         </ul>
      </div>
   <div class="page-content-product">
      <div class="main-product">
         <div class="container">
               
            <div class="row clearfix">
                 
                   @foreach(var item in Model){
                      <div class="col-lg-3 col-sm-6 col-md-3">
                         <a href="productpage.html">
                            <div class="box-img thumbnail  ">
                               <h4>@item.ApplicationUser.UserName اسم المشتري</h4>
                                              <h4>@item.BookingDateTime تاريخ الحجز  </h4>
                               <img src="~/Upload/@item.Basket.Product.ProductImage" alt=""  style="width: 300px;height: 300px"/>
                            </div>
                         </a>  
                         
                         <div class="catogry-ancor"><a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">تعديل</a>
                                                                                 <a class="btn btn-danger" asp-action="Delete" asp-route-categoryId="@item.Id">حذف</a>
                                                                            </div>
                      </div>
                      }
            
               
               
               
               <div class="categories_link">
                  <a href="#">Browse all categories here</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   @*88888889999999999999//////////////////////////////////////9&*@
   
   
      <div class="products">
         <div class="main-products">
            <h2>TRENDING PRODUCTS ON CHAMB</h2>
            <div class="product-slidr">
               <div class="slider">
                  <div>
                     <div class="prod-box">
                        <div class="prod-i">
                           <img src="images/tr1.png" alt="#" />
                        </div>
                        <div class="prod-dit clearfix">
                           <div class="dit-t clearfix">
                              <div class="left-ti">
                                 <h4>Table with Lights</h4>
                                 <p>By <span>Beko</span> under <span>Lights</span></p>
                              </div>
                              <a href="#">$1220</a>
                           </div>
                           <div class="dit-btn clearfix">
                              <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist </a>
                              <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                           </div>
                        </div>
                     </div>
                  
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <!--main js--> 
      <script src="~/DetailsStyle/js/jquery-1.12.4.min.js"></script> 
      <!--bootstrap js--> 
      <script src="~/DetailsStyle/js/bootstrap.min.js"></script> 
      <script src="~/DetailsStyle/js/bootstrap-select.min.js"></script>
      <script src="~/DetailsStyle/js/slick.min.js"></script> 
      <script src="~/DetailsStyle/js/wow.min.js"></script>
      <!--custom js--> 
      <script src="~/DetailsStyle/js/custom.js"></script>
   </body>
</html>