﻿@model Test.Models.Product
 
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V11</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	 
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<!--===============================================================================================-->
	 
<!--===============================================================================================-->
 
<!--===============================================================================================-->
 
<!--===============================================================================================-->	
 
<!--===============================================================================================-->
 
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form class="login100-form validate-form" asp-action="Create" enctype="multipart/form-data">
					<span class="login100-form-title p-b-55">
					اضافة قسم جديد للمنتجات
					</span>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text"   placeholder="اسم المنتج  " asp-for="ProductName">
						<span class="focus-input100"></span>
						<span class="symbol-input100"> 
						</span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
						<select asp-items="ViewBag.CategoryId" asp-for="CategoryId"></select>
						<span class="focus-input100"></span>
                    						<span class="symbol-input100"> 
                    						</span>
                    					</div>

				 
						<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
                    						<input class="input100" type="Number"   placeholder="  السعر" asp-for="Price">
                    						<span class="focus-input100"></span>
                    						<span class="symbol-input100"> 
                    						</span>
                    					</div>
                    						<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
                                        						<input class="input100" type="Number"   placeholder="  كمية المنتج" asp-for="Quantity">
                                        						<span class="focus-input100"></span>
                                        						<span class="symbol-input100"> 
                                        						</span>
                                        					</div>
                                        						<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
                                                            						<input class="input100" type="file"   placeholder="  صورة المنتج" asp-for="ProductImage" name="Image">
                                                            						<span class="focus-input100"></span>
                                                            						<span class="symbol-input100"> 
                                                            						</span>
                                                            					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<input class="input100" type="text"   placeholder="تفاصيل عن   المنتج" asp-for="Details">
						<span class="focus-input100"></span>
						<span class="symbol-input100"> 
						</span>
					</div>

					 
					
					<div class="container-login100-form-btn p-t-25">
						<input type="submit" class="login100-form-btn" value="انشاء"/>
							
						 
					</div>

					 
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
@*	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>*@

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!--===============================================================================================-->
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
 
<!--===============================================================================================-->
 
<!--===============================================================================================-->
 

</body>
</html>