﻿@model Test.Models.Product
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/CategoryEdit/css/vendor/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/CategoryEdit/css/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/css/CategoryEdit/css/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/CategoryEdit/css/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/CategoryEdit/css/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/css/CategoryEdit/css/vendor/daterangepicker/daterangepicker.css">
    	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">    	 
    	<link rel="stylesheet" type="text/css" href="~/css/CategoryEdit/css/main.css">
    		 
    	<link rel="stylesheet" type="text/css" href="~/css/CategoryEdit/css/util.css">
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" asp-action="Delete">
					<span class="login100-form-logo" >
						<i class="zmdi zmdi-landscape"></i>
					</span>
				<input type="hidden" asp-for="Id"/>
					<span class="login100-form-title p-b-34 p-t-27">
					حذف @Model.ProductName
					</span>
					 
					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						 
					</div>
			         @Model.Details
					 
					<div class="wrap-input100 validate-input" >
						 
						<img src="~/Upload/@Model.ProductImage" style="width: 300px;height: 300px;"/>
					</div>

					<div class="container-login100-form-btn">
						<input type="submit" class="login100-form-btn" value="حذف">
					 
					 
					</div>

					 
				</form>
			</div>
		</div>
	</div>
	